<h1
  class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl p-6"
>
  <span class="block">
    <span
      class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600 sm:text-3xl md:text-4xl"
    >
      Day 1:
    </span>
    <span class="sm:text-3xl md:text-4xl"> Historian Hysteria: Part Two </span>
  </span>
</h1>
<p class="text-slate-500 mb-2 ml-3 w-full">
  Calculate a total similarity score by adding up each number in list A after multiplying it by the number of times that number appears in the list B.
</p>
