<ul
class="max-w-full px-6 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
>
<li>
  Split each row of 2 numbers into separate lists (A and B) with 1 number
  per row.
</li>
<li>
  For each list (A and B), individually, sort the numbers in ascending
  order.
</li>
<li>
  Calculate the distance between the lists, starting with the 1st number in
  each list:
</li>
<ul
  class="max-w-full px-6 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
>
  <li>
    Subtract the location in list A from the location in list B to find the
    difference.
  </li>
  <li>Find the absolute value of the difference to get the distance.</li>
</ul>
<li>Sum up all the distances.</li>
</ul>
