<script>
  function showHtmxElapsed(startTime) {
    const clientElapsedMs = performance.now() - startTime;
    const clientElapsedMsStr = clientElapsedMs.toFixed(0) + " ms";
    document.getElementById("client_ms").innerText = clientElapsedMsStr;

    const clientElapsedμs = (performance.now() - startTime) * 1000;
    ;
    const clientElapsedμsStr = Number(clientElapsedμs.toFixed(0)).toLocaleString() + " μs";
    document.getElementById("client_μs").innerText = clientElapsedμsStr;

    console.log(`client: ${clientElapsedMsStr} (${clientElapsedμsStr})`);
  }
</script>
<form
  hx-post="/sum_of_distances"
  hx-target="#results"
  hx-on::before-request="event.detail.xhr.go_time = performance.now()"
  hx-on::after-request="showHtmxElapsed(event.detail.xhr.go_time)"
>
  <div class="relative px-6">
    <div class="relative min-w-[200px]">
      <!-- from: https://www.penguinui.com/components/textarea -->
      <div
        class="flex w-full max-w-md flex-col overflow-hidden rounded-md border border-neutral-300 text-neutral-600 dark:border-neutral-700 dark:text-neutral-300"
      >
        <div class="bg-neutral-50/50 dark:bg-neutral-900/50 p-2">
          <label
            for="location_columns"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Location lists</label
          >
          <textarea
            class="scroll-on z-10 w-full resize-none bg-transparent p-4 text-sm focus:outline-none"
            id="location_columns"
            name="location_columns"
            rows="6"
            placeholder="Enter two location numbers on each line separated by space..."
          >
{{location_columns}}</textarea
          >
        </div>
        <!-- Footer Container -->
        <div
          class="flex w-full items-center justify-between border-t border-neutral-300 bg-neutral-50 px-2.5 py-2 dark:border-neutral-700 dark:bg-neutral-900"
        >
          <!-- Action Buttons -->
          <div class="flex items-center gap-2">
            <script>
              function loadFileIntoTextArea(filepath) {
                var reader = new FileReader();
                reader.onload = function (e) {
                  var textArea = document.getElementById("location_columns");
                  textArea.value = e.target.result;
                };
                reader.readAsText(filepath);
              }
            </script>

            <label
              class="border-2 border-gray-200 p-3 w-full block rounded cursor-pointer my-2"
              for="customFile"
              x-data="{ files: null }"
            >
              <input
                type="file"
                class="sr-only"
                id="customFile"
                x-on:change="files = Object.values($event.target.files);loadFileIntoTextArea(files[0]);"
              />
              <span
                x-text="files ? files.map(file => file.name).join(', ') : 'Choose file...'"
              ></span>
            </label>
          </div>
          <!-- Calculate Button -->
          <input
            class="cursor-pointer whitespace-nowrap rounded-md bg-black px-4 py-2 text-center font-medium tracking-wide text-neutral-100 transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:bg-white dark:text-black dark:focus-visible:outline-white"
            type="submit"
            value="Calculate"
            aria-label="send"
          />
        </div>
      </div>
    </div>
  </div>
</form>
