{{define "days"}}
<nav class="flex min-w-[240px] flex-col gap-1 p-1.5"> 
    {{range $day_idx, $day := .Days}}
    <div
    role="{{ if eq (len .Parts) 1 }}button{{end}}"
    class="text-slate-800 flex w-full items-center rounded-md p-3 transition-all {{ if eq (len .Parts) 1 }}hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100{{end}}"
  >
    <h2
      class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl px-4"
    >
      <span class="block">
        <span
          class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600 text-2xl sm:text-3xl md:text-4xl"
        >
          Day {{ len (printf "a%*s" $day_idx "") }}:
        </span>
        <span class="text-2xl sm:text-3xl md:text-4xl"> {{ $day.Title }} </span>
      </span>
    </h2>
  </div>
  {{ if gt (len $day.Parts) 1 }} 
  {{range $part_idx, $part := $day.Parts}}
  <div
    role="button"
    class="text-slate-800 flex w-full items-center rounded-md p-1 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
    hx-get='/day{{ len (printf "a%*s" $day_idx "") }}/part{{ len (printf "a%*s" $part_idx "") }}'
    hx-target="#target"
  >
    <h3
      class="text-1xl font-bold tracking-tight text-gray-900 sm:text-2xl md:text-3xl px-10"
    >
      <span class="block">
        <span
          class="text-transparent bg-clip-text bg-gradient-to-tr to-cyan-500 from-blue-600 sm:text-1xl md:text-2xl"
        >
          Part {{ $part.Name }}:
        </span>
        <span class="sm:text-1xl md:text-2xl"> {{ $part.Summary }} </span>
      </span>
    </h3>
  </div>
  {{end}} {{end}} {{end}}
</nav>
{{end}}
